/* Bu bizim özel kırmızı rengimiz */
$universite-kirmizi: #d9232d;

/* Bu kod, "Get Started" butonunun rengini kırmızı yapar */
.btn-getstarted {
  background-color: $universite-kirmizi;
}

/* Bu kod, menüde o an hangi sayfadaysan o linkin rengini kırmızı yapar */
.navmenu .active {
  color: $universite-kirmizi;
}